body{
    background:azure;
}
header{
    font-size:6em;
    text-align:center;
    border-radius:2em;
    border:solid 2px darkblue;
    background: aqua;
    color:yellowgreen;
    margin:.75em;
    margin-top:-0.2em;
}
main{
    border-radius:2em;
    border:solid 2px black;
    background:white;
}
#wrapper{
    display:flex;
}
#left{
    width:35%;
}
#right{
    width:35%
}
ul{
    font-size:1.5em;
    width:35%
}
#me{
    width:15%;
    margin-top:3em;
    height:24em;
    margin-left:4.5em;
}