body{
    background:darkgray;

}
header{
    font-size:6em;
    text-align:center;
    border-radius:2em;
    border:solid 2px darkblue;
    background: azure;
    color:skyblue;
    margin:.75em;
    margin-top:-0.2em;
}
main{
    border-radius:2em;
    border:solid 2px black;
    background:white;
}
ol{
    display:inline block;
    margin:0
}
li{
    font-size:2em;
}
article{
    text-align:center;
    font-size:1.25em;
    vertical-align:top;
    margin-top:1em;
    margin-bottom:1em;
}
#spot{
    display:inline block;
    text-align:center;
}
.wrapper{
    display:flex
}
.one{
    width:60%;
}
.two{
    width:35%;
}
p{
    text-align:center;
    font-size:6em;
    margin:0;
}