body{
    background:rgba(255, 188, 64, 0.65);
}
header{
    font-size:6em;
    text-align:center;
    border-radius:2em;
    border:solid 2px darkblue;
    background: rgb(216, 216, 216);
    color:rgb(117, 117, 117);
    margin:20px;
}
main{
    border-radius:2em;
    border:solid 2px black;
    height:300px;
    background:white
}
h1{
    text-align:center;
    font-size:3em;
}
#one{
    border:solid 1px blue;
}
article{
    width:50%;
    border:solid 1px red;
    text-align:center;
    font-size:1.25em;
    display:inline-block;
}